body {
    padding-top: 50px;
    font-family: 'Libre Baskerville', serif;
}

#login,#logout {
    display: none;
}
.login-header {
    padding: 10px 200px 10px 200px;
    color: white;
    text-align: center;
}
.login-header input[type="text"], input[type="password"] {
    width:180px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Libre Baskerville', serif;
}
.login-header label {
    font-size: 16px;
    font-weight: normal;
}
.login-header a, a:visited {
    font-size: 16px;
    font-weight: normal;
    color: white;
}

#content {
    width: 600px;
    margin: 50px auto 50px auto;
}
#content h1 {
    margin: 20px 0 50px 0;
}
#content a, a:visited {
    color: black;
}
.done-form label {
    font-size: 16px;
    margin-bottom: 10px;
}
